body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }

  .left-card,
  .right-card {
    display: inline-block;
    width: 800px;
    height: 350px;
    padding: 25px;
  }

  .tile-image {
    float: left;
    width: 400px;
    height: 250px;
    padding: 15px;
  }

  .card-text {
    text-align: left;
    padding: 10px;
    margin-left: 30px;
  }


  span {
    color:midnightblue;
  }
  
  h1 {
    font-size: 5rem;
  }
    
  footer {
    text-align: right;
    color: midnightblue;
  }
  
  @media (max-width: 430px) {
    body{
      margin: 0px 10px;

    }
    .logo{
      width: 131px;
      height: 23px;
    }

    h1{
      text-align: center;
      font-size: 3rem;
    }

    .left-card,
    .right-card{
      display: block;
      margin-top: 50px;
    }

    .tile-image{
      float: none;
      width: 320px;
      padding: 0;
    }

    .card-title{
      margin: 20px 0;;
    }

    .card-text {
      margin: 20px 0;
      text-wrap: wrap;
      padding: 0;
      width: 320px;
    
    }

    footer {
      margin-top: 120px;
    }

  }